body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #89f7fe, #66a6ff);
}

.app {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 16px #00000042;
  text-align: center;
  max-width: 400px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.input-wrap {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 0.5rem;
  border-radius: .5rem;
  border: 1px solid #ccc;
}

button {
  padding: 1rem 2.5rem;
  cursor: pointer;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  background-color: #0077ff;
  color: #fff;
}

button:hover {
  background-color: #005fcc;
}